DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/postgres?sslmode=require"
DIRECT_URL="postgresql://USER:PASSWORD@HOST:PORT/postgres?sslmode=require"
BLOB_READ_WRITE_TOKEN="vercel_blob_rw_p9PvCLL7PFHOVIK1_N6NtSIvOHa090SRkxWNSsW1QMbWaHU"
